
page {
    height: 100vh;
    background-color: #efefef !important;
}

// 轮播区样式
.swiper {
    swiper {
        height: 430rpx;
        background-color: #efefef !important;

        swiper-item {
            image {
                width: 100%;
                height: 100%;
            }
        }
    }
}