/* pages/event/event.wxss */

.view_class1 {
    display: flex;
    height: 300rpx;
    background-color: aqua;
    align-items: center;
}

.view_class2 {
    display: flex;
    height: 300rpx;
    background-color: rgb(77, 98, 168);
    align-items: center;
}